.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.justify-start {
  justify-content: start;
}

.items-center {
  align-items: center;
}

.grid {
  display: grid;
}

.grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.gap-5 {
  row-gap: 20px;
}



.text-12 {
  font-size: 12px;
}

.text-13 {
  font-size: 13px;
}

.text-16 {
  font-size: 16px;
}

.text-22 {
  font-size: 22px;
}

.text-25 {
  font-size: 25px;
}

.text-28 {
  font-size: 28px;
}

.font-bold {
  font-weight: 700;
}

.text-decoration {
  text-decoration: none;
}

.text-black {
  color: black;
}

.text-white {
  color: white;
}

.bg-white {
  background-color: #fff;
}

.bg-yellow {
  background-color: #e8aa0c;
}

.bg-neutral-200 {
  background-color: rgb(229, 229, 229);
}

.letter-spacing-big {
  letter-spacing: .1em;
}





.time-header {
  padding: 0 20px;
}

.m--2 {
  margin: -2px;
}

.ml--4 {
  margin: -15px;
}

.m-25 {
  margin: 25px;
}

.mr-25 {
  margin-right: 25px;
}

.mr-50 {
  margin-right: 50px;
}

.ml-8 {
  margin-left: 8px;
}

.ml-10 {
  margin-left: 10px;
}

.ml-20 {
  margin-left: 20px;
}

.mt-0 {
  margin-top: 0;
}

.mt-8 {
  margin-top: 8px;
}

.mt-12 {
  margin-top: 12px;
}

.mt-25 {
  margin-top: 25px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-60 {
  margin-top: 60px;
}

.mb-4 {
  margin-bottom: 4px;
}

.mb-8 {
  margin-bottom: 8px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-12 {
  margin-bottom: 12px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-70 {
  margin-bottom: 70px;
}

.p-8 {
  padding: 8px;
}

.p-12 {
  padding: 16px;
}

.p-40 {
  padding: 40px 0;
}

.p-10 {
  padding: 0 10px;
}

.pb-20 {
  padding-bottom: 20px;
}




#root {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

.list-style {
  list-style: none;
}

.box-sizing {
  box-sizing: border-box;
}

button:hover {
  cursor: pointer;
}

.border-none {
  border: none;
}

.w-full {
  width: 100%;
}

.w-50 {
  width: 50%;
}

.w-1440 {
  width: 1440px;
}

.w-260 {
  width: 260px;
}

.w-280 {
  max-width: 280px;
}

.h-190 {
  height: 190px;
}

.h-250 {
  height: 250px;
}

.h-450 {
  height: 446px;
}

.section-banner {
  align-items: center;
  background: rgba(0, 0, 0, .1);
  display: flex;
  font-size: 28px;
  font-weight: 700;
  height: 80px;
  justify-content: center;
  position: relative;
  width: 565px;
}

.section-banner::before {
  border-color: transparent transparent transparent #e5e5e5;
  border-style: solid;
  border-width: 40px 0 40px 30px;
  content: " ";
  display: inline-block;
  height: 0;
  left: 0;
  position: absolute;
  width: 0;
}

.section-banner::after {
  border-color: transparent #e5e5e5 transparent transparent;
  border-style: solid;
  border-width: 40px 30px 40px 0;
  content: " ";
  display: inline-block;
  height: 0;
  position: absolute;
  right: 0;
  width: 0;
}

.section-banner-white {
  align-items: center;
  background: rgba(0, 0, 0, .1);
  display: flex;
  font-size: 28px;
  font-weight: 700;
  height: 80px;
  justify-content: center;
  position: relative;
  width: 565px;
}

.section-banner-white::before {
  border-color: transparent transparent transparent #fff;
  border-style: solid;
  border-width: 40px 0 40px 30px;
  content: " ";
  display: inline-block;
  height: 0;
  left: 0;
  position: absolute;
  width: 0;
}

.section-banner-white::after {
  border-color: transparent #fff transparent transparent;
  border-style: solid;
  border-width: 40px 30px 40px 0;
  content: " ";
  display: inline-block;
  height: 0;
  position: absolute;
  right: 0;
  width: 0;
}

.border-top {
  border-top: 1px solid rgb(206, 206, 206);
}

.border-bottom {
  border-bottom: 1px solid rgb(206, 206, 206);
}

.border {
  box-sizing: border-box;
}

.border-box {
  border: 1px solid #f0f0f0;
}

.rounded {
  border-radius: 15px;
}

.rounded-l {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.stepper-item {
  display: flex;
  flex: 1 1;
  flex-direction: column;
  padding: 0 10px;
  text-align: center;
}

.stepper-item:before {
  --size: 3rem;
  position: relative;
  z-index: 1;
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 1rem auto 0;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
}

.stepper-item.step-1:before {
  border: 2px solid #a5c81b;
  color: #a5c81b;
  content: "1";
}

.stepper-item.step-2:before {
  content: "2";
  border: 2px solid #C8CB2C;
  color: #C8CB2C;
}

.stepper-item.step-3:before {
  content: "3";
  border: 2px solid #E3C10A;
  color: #E3C10A;
}

.stepper-item.step-4:before {
  content: "4";
  border: 2px solid #E59F17;
  color: #E59F17;
}

.stepper-item:not(:last-child):after {
  content: "";
  position: relative;
  top: 57px;
  left: 50%;
  height: 2px;
  background-color: #e0e0e0;
  order: -1;
}

.stepper-item.step-1:after {
  background: linear-gradient(90deg, #A5C81B 8.59%, #C8CB2C 87.66%);


}

.stepper-item.step-2:after {
  background: linear-gradient(90deg, #C8CB2C 8.59%, #E3C10A 87.66%);


}

.stepper-item.step-3:after {
  background: linear-gradient(90deg, #E3C10A 8.59%, #E59F17 87.66%);

  @media screen and (max-width: 431px) {
    display: none;
  }
}

.hover-link-blue:hover {
  color: #1890ff;
}

.hover-link-yellow:hover {
  color: #e8aa0c;
}




.time {
  font-family: sans-serif;
  color: #fff;
  display: inline-block;
  font-weight: 100;
  text-align: center;
  font-size: 12px;
  margin: 10px;
}

.time>div {
  padding: 5px;
  border-radius: 3px;
  background: #00BF96;
  display: inline-block;
}

.time div>span {
  padding: 10px;
  border-radius: 3px;
  background: #00816A;
  display: inline-block;
}


.w-85 {
  width: 85%;
}

.w-100 {
  width: 100px;
}

.w-280 {
  width: 280px;
}

.w-450 {
  width: 450px;
}

.w-600 {
  width: 600px;
}

.h-32 {
  height: 32px;
}

.h-50 {
  height: 50px;
}

.h-60 {
  height: 60px;
}

.h-128 {
  height: 128px;
}

.h-400 {
  height: 400px;
}

.rounded-10 {
  border-radius: 10px;
}

.bg-e0f2fe {
  background-color: #e0f2fe;
}

.text-0ea5e9 {
  color: #0ea5e9;
}

.m-0-40 {
  margin: 0 -40px;
}

.mt-20 {
  margin-top: 20px;
}

.mb--33 {
  margin-bottom: -34px;
}

.rounded-b {
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

.ml-60 {
  margin-left: 60px;
}

.ml-4 {
  margin-left: 4px;
}

.mr-40 {
  margin-right: 40px;
}

.p-a-40 {
  margin: auto 0px;
  padding-left: 40px;
  padding-right: 40px;
}

.p-20-80 {
  padding: 20px 80px;
}

.text-18 {
  font-size: 18px;
}

.border-0 {
  border: 0;
}

.text-left{
  text-align: left;
}

.pl--20{
  padding-left: -20px;
}